{% load i18n %}

<div class='b-form'>
	<form action='/message/' method='post' id='{{ block_item.slug }}_form'>
		{% csrf_token %}
		<ul class="b-form-fields">
		{% for field in message_form %}
			<li class='b-form-field
				{% if field.field.required %}m-field-required{% endif %}
				{% if field.errors %}m-field-error{% endif %}
			'>
				<ul class='b-form-field-elements'>
					<li class='b-form-field-element__label'>
						<label for='name'>{{ field.label }}:</label>
					</li>
					{% if field.help_text %}
						<li class='b-form-field-element__help_text'>{{ field.help_text }}</li>
					{% endif %}
					<li class='b-form-field-element__field'>{{ field }}</li>
					{# {% if field.errors %} #}
					<li class='b-form-field-element__errors'>
						<ul class='b-form-field-element__error_list'>
							{# {% for error in field.errors %} #}
								<li class="b-form-field-element__error_list_error">{{ error }}text</li>
							{# {% endfor %} #}
						</ul>
					</li>
					{# {% endif %} #}
				</ul>
			</li>
		{% endfor %}
		</ul>
		<input
			type='submit'
			class='b-form__submit orange-flat-button'
			value='{% trans 'Send request!' %}'
			data-url='/message/'
			data-form='#{{ block_item.slug }}_form'
		>
	</form><!-- form -->

	<div class="b-tnx">
		<span class="b-tnx__title">Спасибо за заявку!</span>
		<span class="b-tnx__text">Наш менеджер свяжется с вами по указанному телефону в самое ближайшее время.</span>
	</div><!-- b-tnx -->
</div><!-- b-form -->
