{% load humanize %}
{% load i18n %}
{% load express %}

<div class='b-wrapper'>

{% comment %}
block
title
sub_title
old_price
new_price
price_from
price_after
description
options
image
order_url
order
additions
vip
public
created_at
updated_at
{% endcomment %}

{% if 'grid' in block_item.slug %}

<table class='b-tariffs-grid' border='1'>
	<thead>
		<tr>
			<td></td>
			{% for tariff in tariffs %}
				<td>{{ tariff.title }}</td>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for property in properties %}
			<tr class='b-tariffs_properties'>
				<td class='b-tariffs_property__title m-tariff_{{ tariff.id }} m-tariff_{{ tariff.vip }}' >{{ property }}</td>

				{% for tariff in tariffs %}
					{% if property in tariff.property_list %}
						<td class='b-tariff_property__value'>{{ tariff|get_property_value:property }} </td>
					{% else %}
						<td class='b-tariff_property__empty_value'></td>
					{% endif %}
				{% endfor %}

			</tr>
		{% endfor %}

		{% for option in options %}
			<tr class='b-tariffs_options'>
				<td class='b-tariffs_option__title'>{{ option }}</td>

				{% for tariff in tariffs %}
					{% if option in tariff.options_list %}
						<td class='b-tariff_option__yes'>✔</td>
					{% else %}
						<td class='b-tariff_option__no'>✘</td>
					{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}

		<tr class='b-tariffs_prices'>
			<td class='b-tariffs_prices__title'>Цены</td>
			{% for tariff in tariffs %}
				<td class='b-tariffs_prices__value'>
					{% if tariff.old_price %}
						<span class="b-tariff__old_price">{{ tariff.old_price }}</span>
					{% endif %}
					<span class="b-tariff__new_price">{{ tariff.new_price }}</span>
					<a href="#form" class='green-sea-flat-button b-tariff__submit'>Заказать</a>
				</td>
			{% endfor %}
		</tr>
	</tbody>
</table>


{% else %}

<div class='b-tariffs'>
{% for tariff in tariffs %}
	<div class='b-tariff {% if tariff.vip %}m-vip{% endif %} m-coll_{{ tariffs.count }}'>
		<h3 class='b-tariff__title'>{{ tariff.title }}</h3>

		{% if tariff.image %}
			<img src='{{ tariff.image.url }}' alt='{{ tariff.title }}' class='b-tariff__image'>
		{% endif %}

		{% if tariff.sub_title %}
			<big class='b-tariff__sub_title'>{{ tariff.sub_title }}</big>
		{% endif %}

		{% if tariff.description %}
			<p class='b-tariff__description'>{{ tariff.description }}</p>
		{% endif %}

		{% if tariff.options %}
			<ul class='b-tariff__options'>
				{% for option in tariff.options_list %}
					<li class='b-tariff__option'>{{ option }}</li>
				{% endfor %}
			</ul>
		{% endif %}

		{% if tariff.old_price %}
			<span class='b-tariff__old_price'>
				{% if tariff.price_from %}
					<span class='b-price_from'>{% trans "from" %}</span>
				{% endif %}
				<span class='b-tariff__value m-valute_{{ site.config.get.valute }}'>{{ tariff.old_price }}</span>
				{% if tariff.price_after %}
					<span class='b-tariff__after'>{{ tariff.price_after }}</span>
				{% endif %}
			</span><!-- b-tariff__old_price -->
		{% endif %}

		<span class='b-tariff__new_price'>
			{% if tariff.price_from %}
				<span class='b-price_from'>{% trans "from" %}</span>
			{% endif %}
			<span class='b-tariff__value m-valute_{{ site.config.get.valute }}'>{{ tariff.new_price }}</span>
			{% if tariff.price_after %}
				<span class='b-tariff__after'>{{ tariff.price_after }}</span>
			{% endif %}
		</span><!-- b-tariff__new_price -->

		<a href="{{ tariff.get_absolute_url }}" class='green-sea-flat-button b-tariff__submit fancybox fancybox.iframe'>{% trans "Order" %}</a>
	</div><!-- b-tariff -->
{% endfor %}
</div><!-- b-tariffs -->

{% endif %}
</div><!-- b-wrapper -->
